$primary-color: #BA77FD;
$contrast-color: #C7FF51;
$dark-bg-color: #020102;
$text-color: #BABBBD;
$dark-purple-bg-color: #494152;
$news-slide-hover-bg-color: rgba(186, 119, 253, 0.35);

$drop-menu-bg-color: rgba(2, 1, 2, 0.50);

$border-gradient: linear-gradient(145deg, rgba(199,255,81,1) 0%, rgba(186,119,253,1) 100%);
$border-gradient-reverse: linear-gradient(320deg, rgba(199,255,81,1) 0%, rgba(186,119,253,1) 100%);