@font-face {
  font-family: "Julius Sans One";
  font-weight: 400;
  src: url("./assets/fonts/JuliusSansOne-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 400;
  src: url("./assets/fonts/Euclid Circular A Regular.ttf") format("woff");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 500;
  src: url("./assets/fonts/Euclid Circular A Medium.ttf") format("woff");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 600;
  src: url("./assets/fonts/Euclid Circular A SemiBold.ttf") format("woff");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 700;
  src: url("./assets/fonts/Euclid Circular A Bold.ttf") format("woff");
}