@mixin font ($size, $height, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin media-screen {
  @media (max-width: 48em) { @content; }
}

@mixin media-screen-max {
  @media (min-width: 48em) { @content; }
}

@mixin octagon-bg ($size, $padding) {
  $octagon-clip-width: calc($size * 2);
  width: calc(100% - $padding * 2);
  height: calc(100% - $padding * 2);
  left: $padding;
  top: $padding;
  clip-path: polygon(0 $octagon-clip-width,$octagon-clip-width 0,calc(100% - $octagon-clip-width) 0,100% $octagon-clip-width,100% calc(100% - $octagon-clip-width),calc(100% - $octagon-clip-width) 100%,$octagon-clip-width 100%,0 calc(100% - $octagon-clip-width));
}

@mixin octagon-border ($size) {
  $width: calc($size * 2);
  clip-path: polygon(0 $width,$width 0,calc(100% - $width) 0,100% $width,100% calc(100% - $width),calc(100% - $width) 100%,$width 100%,0 calc(100% - $width),0 $width,0.15rem  calc($width + 0.045rem),0.15rem calc(100% - $width - 0.045rem),calc($width + 0.045rem) calc(100% - 0.15rem),calc(100% - $width - 0.045rem) calc(100% - 0.15rem),calc(100% - 0.15rem) calc(100% - $width - 0.045rem),calc(100% - 0.15rem) calc($width + 0.045rem),calc(100% - $width - 0.045rem) 0.15rem,calc($width + 0.045rem) 0.15rem,0.15rem calc($width + 0.045rem));
}

@mixin home-slide-transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@mixin advantages-transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}