@mixin font ($size, $height, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin media-screen {
  @media (max-width: 48em) { @content; }
}