.btn-rect {
  padding: 1.6rem 3.4rem;
  font-family: "Euclid Circular A";
  @include font(1.8rem, 125%, 600);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
  &_dark {
    background-color: $dark-purple-bg-color;
    &:hover {
      color: $dark-bg-color;
      background-color: $contrast-color;
    }
  }
  &_purple {
    background-color: $primary-color;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      width: 30rem;
      height: 30rem;
      position: absolute;
      top: calc(50% - 15rem);
      left: calc(50% - 15rem);
      background: $dark-bg-color;
      z-index: -1;
      border-radius: 50%;
      transform: translateY(18rem);
      transition: transform 0.7s linear;
    }
    &:hover {
      &::before {
        transform: translateY(0rem);

      }
    }
  }
}