.modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 100;
  transition: opacity .5s, visibility 0.5s;
  &.active {
    opacity: 1;
    z-index: 100;
    visibility: inherit;
    .modal__inner {
      transform: scale(1);
      opacity: 1;
    }
  }
  &__inner {
    margin: auto;
    position: relative;
    width: fit-content;
    transform: scale(0.1);
    opacity: 0;
    transition: transform 500ms, opacity 250ms;
  }
  &__close {
    @include octagon-bg(0.5rem, 0rem);
    left: auto;
    display: block;
    position: absolute;
    top: 8rem;
    right: 8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    padding: 2rem;
    z-index: 1;

    background: transparent;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.40);;
    }
    @include media-screen {
      width: 8rem;
      height: 8rem;
      top: 8rem;
      right: 8rem;
      padding: 2.8rem;
    }
    &:after {
      content: '';
      display: block;
      background: $border-gradient;
      @include octagon-border(0.5rem);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__content {
    position: relative;
    padding: 3rem;
  }
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    background: $border-gradient;
    @include octagon-border(2.5rem);
    width: 100%;
    height: 100%;
  }
  &__card {
    background: $dark-purple-bg-color;
    @include octagon-bg(2rem, 0rem);
    width: 102.6rem;
    @include media-screen {
      width: 66rem;
    }
  }
}

.modal-person {
  &__card {
    padding: 5rem 6rem 0rem 5rem;
    display: flex;
    justify-content: space-between;
    @include media-screen {
      padding: 13rem 3rem 0rem 3rem;
    }
  }
  &__info {
    width: 52rem;
    padding-bottom: 5rem;
    @include media-screen {
      width: 100%;
    }
  }
  &__img-box {
    width: 36rem;
    height: 48rem;
    align-self: flex-end;
    img {
      height: 100%;
      object-fit: cover;
    }
    &.modal-person_woman, &.modal-person_man {
      display: flex;
      flex-direction: column-reverse;
      img {
        display: none;
      }
      @include media-screen {
        display: none;
      }
    }
    &.modal-person_woman {
      
      &::after {
        content: '';
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
        background-image: url(./assets/images/people_woman-figure.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: -2rem;
      }
    }
    &.modal-person_man {
      &::after {
        content: '';
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
        background-image: url(./assets/images/people_man-figure.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: -2rem;
      }
    }
    @include media-screen {
      display: none;
    }
  }
  &__position {
    margin-bottom: 1.2rem;
    @include media-screen {
      margin-bottom: 2.2rem;
    }
  }
  &__name {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 0.2rem transparent;
    border-image: $border-gradient;
    border-image-slice: 1;
    width: 38rem;
    @include media-screen {
      font-size: 2.4rem;
      line-height: 150%;
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      width: 100%;
    }
  }
  &__text {
    br {
      content: "";
      display: block;
      margin: 2rem 0;
    }
  }
}

.modal-thanks {
  &__card {
    padding: 15.5rem 10.5rem 15rem;
    @include media-screen {
      padding: 20rem 5rem;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 2.8rem;
  }
  &__subtitle {
    text-align: center;
    color: $text-color;
    @include media-screen {
      font-size: 2.8rem;
    }
  }
}

.modal-filter {
  .modal__inner {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background: linear-gradient(149deg, #272727 -11.32%, #3F2E50 9.74%, #272727 41.3%, #272727 63.22%);
  }
  .vacancies__form-drop {
    padding: 0;
    position: relative;
  }
  .modal__content {
    padding: 8rem 2rem;
  }
  .modal__close {
    top: 7rem;
    right: 0rem;
    padding: 2.5rem;
    &::after {
      display: none;
    }
  }
  .vacancies__form {
    margin-top: 2rem;
  }
  .vacancies__filter {
    &-drop {
      display: block;
      padding: 0;
      &::before {
        display: none;
      }
    }
    &-legend {
      padding: 0;
      text-transform: uppercase;
      font-size: 2.4rem;
      line-height: 150%;
      letter-spacing: 0.12rem;
      gap: 2.5rem;
      &::after {
        width: 1.7rem;
        height: 3rem;
      }
    }
    &-second {
      padding: 3rem 0 0 0rem;
    }
    &-item {
      padding: 2rem 0;
    }
    &-input {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      appearance: none;
      /* For iOS < 15 to remove gradient background */
      background-color: transparent;
      /* Not removed via appearance */
      margin: 0;
      display: block;
      width: 4rem;
      height: 4rem;
      border: solid 0.1rem $text-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:checked {
        border-color: $contrast-color;
        &:after {
          content: '';
          display: block;
          background-image: url(./assets/images/checkbox-icon.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          width: 2.4rem;
          height: 1.5rem;

        }
      }
    }
    &-label {
      display: flex;
      gap: 2rem;
      &.active {
        color: $contrast-color;
      }
    }
  }
  &__field-box {
    padding: 5rem 0;
    border-bottom: solid 0.1rem transparent;
    border-image: $border-gradient;
    border-image-slice: 1;
    &:last-child {
      border-bottom: none;
    }
  }
}

.modal-code {
  .modal__inner {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background: linear-gradient(149deg, #272727 -11.32%, #3F2E50 9.74%, #272727 41.3%, #272727 63.22%);
  }
  .modal__content {
    padding: 8rem 2rem 0rem;
  }
  .modal__close {
    top: 6rem;
    right: 0rem;
    &::after {
      display: none;
    }
  }
  &__title {
    margin-bottom: 6.4rem;
  }
}