<div class="modal modal-thanks">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__close">
        <img src="./assets/images/burger-close-icon.svg" alt="x" class="modal__close-icon">
      </div>
      <div class="modal__card modal-thanks__card">
        <p class="modal-thanks__title genl-h2-title">Thank you for your request</p>
        <p class="modal-thanks__subtitle genl-subtitle-2">Our specialist will contact you shortly to clarify all the details.</p>
      </div>
      <div class="modal__border"></div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="#" class="footer__logo">
        <img src="./assets/images/logo.svg" alt="PNG logo" class="header__logo-img">
      </a>
      <nav class="footer__nav">
        <div class="footer__nav-section genl-text-reg">
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">Drilling & Workover</a>
          </div>
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">Well Сementing</a>
          </div>
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">Managed Pressure Drilling</a>
          </div>
        </div>
        <div class="footer__nav-section genl-text-reg">
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">Casing while Drilling and Casing Tunning Tool</a>
          </div>
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">Permanent Mud Circulation System</a>
          </div>
        </div>
        <div class="footer__nav-section genl-text-reg">
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">For Careers</a>
          </div>
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">For Investors</a>
          </div>
        </div>
        <div class="footer__nav-section genl-text-reg">
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">About us</a>
          </div>
          <div class="footer__nav-item">
            <a href="#" class="footer__nav-link">News</a>
          </div>
        </div>

      </nav>
      <button class="footer__contact-btn btn-rect btn-rect_dark">Contact us
        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 5.01509L14.9822 1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19 4.99513L14.9924 9.00002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.999993 4.99512L18.9902 4.99512" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</footer>