<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo">
        <!-- <img src="" alt="PNG logo" class="header__logo-img"> -->
        <h1 class="header__logo-text">LOGO</h1>
      </a>
      <nav class="header__nav">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">For operators and contractors</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">for Careers</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">For investors</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">explore more</a>
        </li>
      </nav>
      <button class="header__contact-btn btn-rect btn-rect_dark">Contact us
        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 5.01509L14.9822 1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19 4.99513L14.9924 9.00002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.999993 4.99512L18.9902 4.99512" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="header__wrapper_mobile">

    </div>
  </div>
</header>