@import './home_page';
@import './news';
@import './news_detail';
@import './contact';
@import './drilling_and_workover';
@import './well_cementing';
@import './mpd';
@import './cwd';
@import './pms';
@import './about_us';
@import './career';
@import './not_found';