.mpd-banner {
  padding: 10rem 0 11rem;
  @include media-screen {
    padding-bottom: 10rem;
  }
  .container {
    display: grid;
  }
  &__subtitle {
    color: $contrast-color;
    grid-row: 1;
    grid-column: 1;
  }
  &__title {
    grid-row: 2;
    grid-column: 1;
    width: 51rem;
    margin-top: 1rem;
    @include media-screen {
      font-size: 6.8rem;
      width: 100%;
    }
  }
  &__text {
    color: #FFF;
    grid-row: 2;
    grid-column: 2;
    width: 63rem;
    justify-self: end;
    margin-top: 3rem;
    @include media-screen {
      grid-row: 4;
      grid-column: 1;
      width: 100%;
      margin-top: 2rem;
    }
  }
  &__img-box {
    position: relative;
    width: 155.8rem;
    height: 40.2rem;
    grid-row: 3;
    grid-column: 1 / 3;
    margin-top: 8rem;
    @include media-screen {
      width: 100%;
      height: 25.2rem;
      grid-row: 3;
      grid-column: 1;
      img {
        height: 100%;
      }
    }
    &-top {
      position: absolute;
      top: 2rem;
      left: 2.5rem;
      width: 149rem;
      -webkit-mask-image: url(./assets/images/mpd-banner__img-top-mask.svg);
      mask-image: url(./assets/images/mpd-banner__img-top-mask.svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      @include media-screen {
        width: 63rem;
        height: 15rem;
        top: 1.5rem;
        left: 1.5rem;
      }
    }
    &-bottom {
      position: absolute;
      bottom: 1rem;
      right: -4rem;
      width: 160rem;
      -webkit-mask-image: url(./assets/images/mpd-banner__img-vect-mask.svg);
      mask-image: url(./assets/images/mpd-banner__img-vect-mask.svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      @include media-screen {
        width: 67rem;
        height: 15rem;
        right: 2rem;
      }
    }
    &-bottom-bg {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      width: 151rem;
      @include media-screen {
        width: 65rem;
        height: 14rem;
        right: 1.5rem;
        bottom: 1.5rem;
      }
    }
  }
}

.mpd-advan {
  padding-bottom: 22rem;
  @include media-screen {
    padding-bottom: 17rem;
  }
  &__wrapper {
    &_desc {
      @include media-screen {
        display: none;
      }
    }
    &_mob {
      display: none;
      @include media-screen {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }
    }
  } 
  &__tab-info {
    display: flex;
    justify-content: space-between;
    &-text {
      width: 74rem;
      @include media-screen {
        width: 100%;
      }
    }
    &-img-box {
      width: 76rem;
      height: 56rem;
      position: relative;
      @include media-screen {
        width: 100%;
      }
      &-top {
        position: absolute;
        top: 1.5rem;
        left: 2.5rem;
        width: 71rem;
        -webkit-mask-image: url(./assets/images/mpd__img-top-mask.svg);
        mask-image: url(./assets/images/mpd__img-top-mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        @include media-screen {
          width: 100%;
          height: 47rem;
        }
      }
      &-bottom {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        width: 77rem;
        height: 45rem;
        -webkit-mask-image: url(./assets/images/mpd__img-vect-mask.svg);
        mask-image: url(./assets/images/mpd__img-vect-mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        @include media-screen {
          width: 57rem;
          height: 34rem;
          right: 2rem;
        }
      }
      &-bottom-bg {
        position: absolute;
        bottom: 1.5rem;
        right: 2.5rem;
        width: 68rem;
        @include media-screen {
          width: 57rem;
          height: 34rem;
        }
      }
    }
  }
  &__tab-title {
    margin-bottom: 3rem;
  }
  &__item {
    padding: 3rem 3rem;
    position: relative;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      padding: 0;
      border-bottom: solid 0.2rem rgba(200, 255, 81, 0);
      transition-property: padding;
      color: #FFF;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &::after {
        content: "";
        display: block;
        background-image: url(./assets/images/accord-arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 3.2rem;
        height: 3.2rem;
        min-width: 3.2rem;
        transform: rotate(-180deg);
        transition: transform 0.3s ease;
      }
      &.active {
        padding: 2rem 0 0;
        &::after {
          transform: rotate(0deg);
        }
      }
    }
    &-info {
      display: none;
      margin-top: 4.8rem;
      border-top: solid 0.2rem transparent;
      border-image: linear-gradient(145deg, rgb(199, 255, 81) 0%, rgb(186, 119, 253) 100%);
      border-image-slice: 1;
      padding-top: 4.8rem;
      padding-bottom: 2rem;
    }
    &-list {
      font-family: "Euclid Circular A";
      @include font(3.6rem, 135%);
      letter-spacing: 0.18rem;
      li {
        gap: 2.2rem;
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $border-gradient;
      @include octagon-border(1.5rem);
    }
  }
}